

<div class="container">
  <h2>Bookings for Your Gym</h2>
  <div class="row card-container">
    <% @user_gym_booking_requests.each do |booking|%>
      <div class="col-3 col-lg-3 card-layout">
          <%# <%= link_to gym_path(gym) do %>
            <div class="card-contents">
                <div class="card-description">
                  <div class="card-details">
                    <p><%= booking.date %></p>
                    <p class="subtext"><%= booking.clients %></p>
                  </div>
                  <div class="card-price">
                    <p>$<%= booking.start_time %>/hr</p>
                  </div>
                </div>
              </div>
            <%# <% end %>
          </div>
      <% end %>
  </div>
</div>
