
<%# FEW NAVBARS %>

<%# Landing Nav %>
<div class="container-nav-simple">
  <div class="title-nav">
    <%# <h2>optional</h2> %>
  </div>
  <div class="nav-options-simple">
    <h3>sign up</h3>
  </div>
</div>

<%# Index Nav %>
<div class="container-nav">
  <div class="title-nav">
    <h2>Defit</h2>
  </div>
  <div class="nav-options">
    <h4>account</h4>
    <h4>log out</h4>
  </div>
</div>
