<div class="container">
  <div class="form-container">
    <div class="form-header">
      <h3>Sign Up</h3>
    </div>
    <div class="form-content">
      <div class="full-name">
        <p>FirstName LastName</p>
      </div>
      <div class="email-password">
        <p>email</p>
        <p>password</p>
        <p>signup</p>
      </div>
    </div>
  </div>
</div>
