// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$primary-color: #16A27F;
$secondary-color: #A134AD;
$background-color: #343234;
$lightest-grey: #F5F5F5;
$middle-grey: #EBEAEB;
$darkest-grey: #1F1E1F;
