// Import page-specific CSS files here.
@import "home";
@import "show";



// INDEX PAGE SPECIFIC CSS HERE
.card-layout {
  padding: 15px;
}

.index-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 30px;
}



// INDEX PAGE FOR PROFILE CSS
.profile-header {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 200;
}
.gym-link {
  font-size: 16px;
}
.gyms-profile {
  border-bottom: 1px solid $primary-color;
  width: 20%;
}
.booking-profile {
  border-bottom: 1px solid $primary-color;
  width: 40%;
}
.other-gym-profile {
  border-bottom: 1px solid $primary-color;
  width: 50%;
}
