
<%# Landing Nav %>
<%= render partial: "components/land_nav" %>

<%# Cover Section %>
<div class="container-main">
  <div class="container-header col-4">
    <h2>De-fit<span>.</span></h2>
    <h4></h4>
  </div>
  <div class="description-home col-4">
    <h4>Decentralized Fitness</h4>
    <p>
      The link between those in need of a fitness space and those who have one to share
    </p>
  </div>
  <div class="container-button">
    <%= link_to "FIND GYM", gyms_path, class: "join-button" %>
  </div>
</div>
