
<%# Landing Nav %>
<div class="container-nav-simple">
  <div class="title-nav">
    <%# <h2>optional</h2> %>
  </div>
  <div class="nav-options-simple">
    <h3> <%= link_to "sign up", new_user_registration_path, class: "nav-link" %></h3>
  </div>
</div>
<div class="container-main">
  <div class="container-header">
    <h2>Defit</h2>
    <h4>Dad Strength</h4>
  </div>
  <div class="container-button">
    <%= link_to "FIND GYM", gyms_path, class: "join-button" %>
  </div>
</div>
