// -------INDEX CARD-------------
.card-container {
  padding: 20px 35px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.card-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-bottom: 20px;
  border-radius: 8px;
  box-shadow: 1px 0px 9px 1px $darkest-grey;
  transition: .4s;
  background-color: #878287;
  &:hover {
    transition: .3s;
    box-shadow: 1px 0px 5px 4px $secondary-color;
    color: $light-gray;
  }
}
.card-contents img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.card-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.card-details {
  display: block;
  flex-direction: column;
  p {
    color: $lightest-grey;
    margin-bottom: 0px;
    font-size: 18px;
    transition: .3s;
    &:hover {
      color: $middle-grey;
      transition: .4s;
    }
  }
  .subtext {
    margin-top: 0px;
    color: $darkest-grey;
    padding-left: 3px;
    font-size: 16px;
  }
  &:hover {
    color: $middle-grey;
    transition: .3s;
  }
}

// --------INDEX CARD-------------

// --------SHOW CARD--------------

.large-card {
  box-shadow: 1px 0px 9px 1px $background-color;
  transition: .3s;
  // padding: 20px 25px; maybe don't want it for the show page
  width: 100%;
  &:hover {
    transition: .3s;
    box-shadow: 1px 0px 3px 1px $background-color;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px;
  // padding: 0 16px;
  // padding-left: 16px;
  justify-content: center;
  height: 100%;

  img {
    width: 100%;
    // height: 100%;
    object-fit: cover;
    transition: .3s;
    &:hover {
      box-shadow: 0px 0px 3px 2px $secondary-color;
      transition: .4s;
    }
  }
}
#big-img {
  transition: .3s;
  margin-right: 14px;
  &:hover {
    transition: .4s;
  }
  img {
    height: 100%;
    max-height: 450px ;
    object-fit: cover;
    &:hover {
      box-shadow: 0px 0px 3px 2px $secondary-color;
    }
  }
}
#multi-img {
  align-self: center;
}

.secondary-img {
  max-height: 218px;
  height: 218px;
  max-width: 320px;
}


// ---------ADD GYM CARD----------------

.card-contents-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px;
  padding-bottom: 20px;
  border-radius: 8px;
  // box-shadow: 1px 0px 9px 1px $darkest-grey;
  border: 1.5px solid $primary-color;
  transition: .4s;
  background-color: transparent;
  &:hover {
    transition: .4s;
    box-shadow: 1px 0px 4px 3px $secondary-color;
    border: 1px solid $darkest-grey;
    color: $light-gray;
  }
}
.card-description-add {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
.card-details-add {
  display: block;
  flex-direction: column;
  p {
    color: $lightest-grey;
    margin-bottom: 0px;
    font-size: 26px;
    transition: .3s;
    &:hover {
      color: $darkest-grey;
      transition: .4s;
    }
    a  {
      transition: .3s;
      &:hover {
      color: $middle-grey;
      transition: .4s;
      }
    }
  }

}
