a {
  text-decoration: none;
  color: $light-gray;
  transition: .3s;
  &:hover {
    color: $lightest-grey;
    transition: .3s;
  }
}
.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


//------ Landing Nav -------
.container-nav-simple {
  display: flex;
  justify-content: flex-end;
  background-color: $background-color;
  margin-bottom: 10px;
}
.nav-options-simple {
  display: flex;
  h3 {
    padding: 15px 35px;
  }
}
//--- Landing Nav ---

// -- Index Nav --
.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color;
  border-bottom: 1px solid $primary-color;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
}
.title-nav h2 {
  color: $lightest-grey;
  font-size: 36px;
  &:hover {
    color: $middle-grey;
  }
}
.nav-options {
  display: flex;
  align-items: center;
  p {
    margin-left: 10px;
    margin-right: 10px;
  }
}
